.item {
    text-decoration: none;
    color: brown;
    font-family: system-ui;
    font-size: 25px;
    padding: 20px;
    border-radius: 20px;
    font-weight: 500;
}

.item:hover {
    background-color: rgb(252, 208, 150);
}